a {
    text-decoration: none !important;
    color: rgb(182, 13, 106)
}

.pics{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}

nav{
    background-color: #f285A2;
    border-bottom: 1px solid black;
    padding: 16px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #c1dbae;
}

main{
    padding: 16px
}

footer{
    padding: 50px 50px 50px 20px;
    color: #fcd4df;
    background-color: rgb(182, 13, 106);
}

img{
    height: 200px
}

table{
    background-color: white;
}

tr:nth-child(even)  {
    background-color: lightgrey;
}
